@media screen and (max-width: 900px) {
  body {
    background-color: #181818;
  }
  #toggle {
    display: block;
  }

  header {
    padding-bottom: 5px;
  }

  header .container {
    display: none;
  }

  #menu #logo a {
    color: white;
  }
}
