body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1168px;
  margin: auto;
  /* padding-left: 15px;
  padding-right: 15px; */
}

/* ------------HEADER------------------ */

header {
  background: #181818;
  padding: 30px 20px 29px 32px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  gap: 32px;
}

header nav ul li a {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  transition: 0.3s;
}

header nav ul li:first-of-type a {
  margin-right: 24px;
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

header nav ul li:last-of-type a {
  border-radius: 14px;
  background: #fff;
  padding: 9px 20px 13px 20px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.4px;
}

header nav ul li a:hover {
  font-size: 20px;
}

/* ------------HERO------------------ */

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 71px;
}

.hero .container {
  margin: 0;
}

.hero article {
  max-width: 580px;
  text-align: center;
}

.hero span {
  color: #c0c0c0;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 59.4px; /* 110% */
}

.hero p {
  color: #c0c0c0;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.list--icon {
  display: flex;
  position: absolute;
  bottom: 46px;
  right: 40px;
  /* gap: 16px; */
}

.list--icon li {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  position: relative;
}

.list--icon li:before {
  content: "";
  position: absolute;
  background-image: url(../images/hero-svg-1.svg);
  width: 16px;
  height: 16px;
  left: -22px;
  bottom: -5px;
}

.list--icon li:nth-child(2)::before {
  background-image: url(../images/hero-svg-2.svg);
}

.list--icon li:nth-child(3)::before {
  background-image: url(../images/hero-svg-3.svg);
  width: 32px;
  height: 16px;
  left: -38px;
}

.list--icon li:nth-child(4)::before {
  background-image: url(../images/hero-svg-4.svg);
  width: 10px;
  height: 16px;
  left: -16px;
}

.list--icon li:first-of-type {
  margin-right: 38px;
}

.list--icon li:nth-of-type(2) {
  margin-right: 55px;
}

.list--icon li:nth-of-type(3) {
  margin-right: 31px;
}

/* ------------CLIENTS------------------ */

.clients {
  background: #000;
  padding-top: 113px;
  padding-bottom: 140px;
}

.clients h2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 105% */
  margin-bottom: 15px;
}

.clients p {
  color: #c0c0c0;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  margin-bottom: 42px;
}

.clients article {
  display: flex;
  padding: 40px 46px;
  justify-content: center;
  align-items: center;
  gap: 109px;
}
